@import "settings";
@import "mixin";

.register-form,
.reset-password-form,
.change-password-form,
.edit-profile-form {
    padding-top: 50px;

	@media #{$medium-only}, #{$small-only} {
		padding-top: 20px;
	}
}

.report-form,
.reset-password-form,
.change-password-form,
.edit-profile-form {
    p{
        font-size: 1.2em;
    }
}

.txt-moreinfo{
    height: 100px;
}

.alert-button-close {
    font-size: 1.57143rem;
    padding: 9px 6px 4px;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.78571rem;
    right: 0.28571rem;
    color: #333333;
    opacity: 0.3;
}