@import "settings";

/*---------------------------------
	FILTER ROW
---------------------------------*/
.filter{
	position: absolute;
	width: 100%;
	margin-top: 20px;
	z-index: 99;
	-webkit-animation-duration: .5s;
	-webkit-animation-delay: 2s;

	@media only screen and (max-width: 40em) {
		margin: 0px;

		.columns{
			padding: 0;
		}
	}
}

/*---------------------------------
	FILTER WRAPPER
---------------------------------*/
.map-control {
	position: relative;
	z-index: 999;
	padding: 15px;
	border: 1px solid #ddd;
	background: rgba(255, 255, 255, 0.75);

	.f-dropdown{
		max-width: none;
		border: none;

		@media #{$medium-only} {
			width: 96.5%;
		}
	}
}

.more-info{
	position: relative;
	z-index: 99;
	width: 186px;
	padding: 10px 15px;
	margin: 20px 0 0;
	border: 1px solid #ddd;
	background: rgba(255, 255, 255, 0.8);
}