@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import
  "foundation/components/top-bar",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons";

@font-face {
  font-family: 'typicons';
  src: url("/bower_components/typicons/src/font/typicons.eot");
  src: url("/bower_components/typicons/src/font/typicons.eot?#iefix") format('embedded-opentype'),
       url("/bower_components/typicons/src/font/typicons.woff") format('woff'),
       url("/bower_components/typicons/src/font/typicons.ttf") format('truetype'),
       url("/bower_components/typicons/src/font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

#top-nav-bar {
  background-color: #dc0028;

  * {
    background-color: inherit;
  }
}

#map {
  width: 100%;
  height: 40%;
  min-height: 500px;
  overflow: visible;
}

#week-selector {
  background-color: #3a4e5a;
  position: relative;
  z-index: 9999;
  .button {
    background-color: #3a4e5a;
  }
}

#week-month-name {
  height: 2em;
}

.knots {
  .knot-box {
    display: inline-block;
    width: 7%;
    text-align: center;
  }

  .knot-pin {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #2b3c46;
    border-radius: 6px;
    margin-left: 4%;

    &:first-child {
      margin-left: 0;
    }
  }

  .ghost-line {
    left: 3.5%;
    width: 91%;
    display: block;
    position: relative;
    top: 0.5em;
    border-color: #2b3c46;
    margin: 0;
  }

  &.knots-ui .knot-pin {
    -moz-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      -moz-transform: scale(2);
      -webkit-transform: scale(2);
      -o-transform: scale(2);
      transform: scale(2);
      background-color: green;
    }
  }
}

#year-selector {
  .button {
    font-size: 1.4em;
    margin-bottom: 0;
  }
}

#year-drop {
  z-index: 999;
}

#week-quarters {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.week-quarter {
  padding-top: 1em;
  padding-bottom: 0.5em;

  &:hover {
    cursor: pointer;
  }

  .week-month-name {
    color: #cdd0d3;
    margin-bottom: 0.3em;
  }

  .columns {
    z-index: 99;
  }

  .ghost-line {
    width: 66.666666%;
    left: 16.666666%;
    display: block;
    top: -0.54em;
    position: relative;
  }

  background-color: #2a3b44;

  .typcn-media-record {
    color: #3a4e5a;
  }

  .ghost-line {
    border-color: #3a4e5a;
  }

  &:hover, &.selected {
    background-color: #3a4e5a;

    .typcn-media-record {
      color: #2a3b44;
    }

    .ghost-line {
      border-color: #2a3b44;
    }
  }
}

.week-knots-quarter-button {
  position: absolute;
  top: 1.8em;
  right: 0px;

  background-color: #2b3b44;
  padding: 3px;
  border-radius: 4px;
  color: #5e8095;
  cursor: pointer;
}

#map-legend {
  display: block;
  position: absolute;
  top: 212px;
  left: 80px;
  padding: 2px 16px;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 9998;

  ul {
    margin-bottom: 0;

    li.legend-fine {
      .typcn {
        color: #00aeaf;
        font-size: 1.4em;
      }
    }

    li.legend-sick {
      .typcn {
        color: #dc0028;
        font-size: 1.4em;
      }
    }
  }
}

#city-ili-floating-box {
  display: block;
  position: absolute;
  top: 56px;
  left: 80px;
  min-width: 365px;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 9999;
}

#city-selector {
  .button {
    display: block;
    font-size: 1.4em;
  }
}

#city-drop {
  z-index: 9999;
  border: none;
  table {
    min-width: 60em;
      thead {
	    th {
		   text-align: center; 
		   background: #dbdbdb;
	    } 
      }
	  tbody {
	    td {
	      vertical-align: top;
	      .province-name {
	        margin-bottom: 4px;
	        cursor: pointer;
	        box-sizing: border-box;
/*
			float: left;
			width: 50%;
*/
	        > span {
	          padding-bottom: 3px;
	        }
	
	        &:hover {
	          > span {
	            border-bottom: 2px solid #008c8a;
	          }
	        }
	      }
	    }
	  }  
  }
}

#ili-stat {
  margin-bottom: 1em;

  .ili-stat_label {
    font-size: 0.8em;
    margin-bottom: 0.4em;
  }
  .ili-stat_value {
    font-size: 2em;
  }
}

.progress {
  padding-right: 60px;
  border: none;
  .meter {
    position: relative;
    background: #00e4e5;

    .meter-number {
      display: block;
      position: absolute;
      top: 0px;
      right: -50px;
      font-size: 0.8em;
    }
  }
}

#symptoms-stat {
  margin-top: 3em;

  li > .row {
    background-color: #f5f4f2;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  .symptom-list-index {
    span {
      width: 2em;
      height: 2em;
      display: inline-block;
      text-align: center;
      background-color: #989898;
      color: #FFF;
      border-radius: 2em;
      line-height: 2em;
      font-size: 1.2em;
    }
  }
}

/**/
.top-bar .name h1 a{
	background: url(../images/logo.png) no-repeat;
	text-indent: -999em;
	overflow: hidden;
	width: 229px;
	height: 46px;
}
#top-nav-bar {padding: 0.5em 0; position: relative; z-index: 999;}
#sicksense-map-control {
	position: relative;
	max-width: 62.5rem;
	margin: 0 auto;
	#city-ili-floating-box {
		top: 20px;
		left: 0;
		background: transparent;
		#city-selector {
			background: rgba(255, 255, 255, 0.75);
			border: 1px solid #ddd;
			padding: 15px;
			position: absolute;
			top: 0;
			left: 0;
			min-width: 365px;
			min-height: 150px;
			a.button {
				background: none;
				text-align: left;
				padding: 0 0 0.35em;
				color: #333;
				font-size: 2em;
				border-bottom: 2px solid #666;
			}
			.typcn-arrow-sorted-down {
				background: url(../images/arrow_down.png) no-repeat right bottom;
				float: right;
				&:before {
					content: ' '
				}
			}
		}
		#ili-stat {
			margin-top: 6.5em;
			margin-bottom: 0;
		   .ili-stat_label {
			   font-size: 1.1em;
			   margin-bottom: 0.2em;
			   color: #666;
		   }
		   .ili-stat_value {
		     font-size: 2.2em;
		   }
		}
	}
	#map-legend {
		left: 0;
		top: 185px;
		background: rgba(255, 255, 255, 0.8);
		border: 1px solid #ddd;
	}	
}

#ili-stat-ili-delta {
  width: 30%;
	.ili-stat_value{
		&.still {
			color: #333;
		}
		&.down {
			color: #5b8196;
			background: url(../images/ic-down.png) no-repeat left center;
			padding: 0 0 0 20px
		}
		&.up {
			color: #5b8196;
			background: url(../images/ic-up.png) no-repeat left center;
			padding: 0 0 0 20px
		}
	}
}

#ili-stat-ili-reporternumbers {
  width: 45%;
	.ili-stat_label {
		background: url(../images/ic-report.png) no-repeat;
		padding: 0 0 0 20px;
	}
}

#wrapper-bottom {
	position: relative;
	z-index: 999;
	background: #fff;
}