@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import
  "foundation/components/top-bar",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons";

@font-face {
  font-family: 'typicons';
  src: url("/bower_components/typicons/src/font/typicons.eot");
  src: url("/bower_components/typicons/src/font/typicons.eot?#iefix") format('embedded-opentype'),
       url("/bower_components/typicons/src/font/typicons.woff") format('woff'),
       url("/bower_components/typicons/src/font/typicons.ttf") format('truetype'),
       url("/bower_components/typicons/src/font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

#top-nav-bar {
  background-color: #dc0028;

  * {
    background-color: inherit;
  }
}

#map {
  width: 100%;
  height: 40%;
  min-height: 280px;
}

#week-selector {
  background-color: #3a4e5a;

  .button {
    background-color: #3a4e5a;
  }
}

#week-month-name {
  height: 2em;
}

.knots {
  .knot-box {
    display: inline-block;
    width: 7%;
    text-align: center;
  }

  .knot-pin {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #2b3c46;
    border-radius: 6px;
    margin-left: 4%;

    &:first-child {
      margin-left: 0;
    }
  }

  .ghost-line {
    left: 3.5%;
    width: 91%;
    display: block;
    position: relative;
    top: -1.7em;
    border-color: #2b3c46;
  }

  &.knots-ui .knot-pin {
    -moz-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      -moz-transform: scale(2);
      -webkit-transform: scale(2);
      -o-transform: scale(2);
      transform: scale(2);
      background-color: green;
    }
  }
}

#year-drop {
  z-index: 999;
}

.week-quarter {
  padding-top: 1em;
  padding-bottom: 0.5em;

  &:hover {
    cursor: pointer;
  }

  .week-month-name {
    color: #cdd0d3;
    margin-bottom: 0.3em;
  }

  .columns {
    z-index: 99;
  }

  .ghost-line {
    width: 66.666666%;
    left: 16.666666%;
    display: block;
    top: -0.54em;
    position: relative;
  }

  &:nth-child(odd) {
    background-color: #2a3b44;

    .typcn-media-record {
      color: #3a4e5a;
    }

    .ghost-line {
      border-color: #3a4e5a;
    }
  }

  &:nth-child(even) {
    background-color: #3a4e5a;

    .typcn-media-record {
      color: #2a3b44;
    }

    .ghost-line {
      border-color: #2a3b44;
    }
  }
}

.week-knots-quarter-button {
  background-color: #2b3b44;
  padding: 3px;
  border-radius: 4px;
  color: #5e8095;
  cursor: pointer;
}

#map-legend {
  display: block;
  position: absolute;
  top: 212px;
  left: 80px;
  padding: 2px 16px;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 9998;

  ul {
    margin-bottom: 0;

    li.legend-fine {
      .typcn {
        color: #00aeaf;
        font-size: 1.4em;
      }
    }

    li.legend-sick {
      .typcn {
        color: #dc0028;
        font-size: 1.4em;
      }
    }
  }
}

#city-ili-floating-box {
  display: block;
  position: absolute;
  top: 56px;
  left: 80px;
  min-width: 365px;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 9999;
}

#city-selector {
  .button {
    display: block;
    font-size: 1.4em;
  }
}

#city-drop {
  z-index: 9999;

  tbody {
    td {
      vertical-align: top;

      .province-name {
        margin-bottom: 4px;
        cursor: pointer;
        box-sizing: border-box;

        > span {
          padding-bottom: 3px;
        }

        &:hover {
          > span {
            border-bottom: 2px solid #008c8a;
          }
        }
      }
    }
  }
}

#ili-stat {
  margin-bottom: 1em;

  .ili-stat_label {
    font-size: 0.8em;
    margin-bottom: 0.4em;
  }
  .ili-stat_value {
    font-size: 2em;
  }
}

.progress {
  padding-right: 60px;
  .meter {
    position: relative;

    .meter-number {
      display: block;
      position: absolute;
      top: 0px;
      right: -50px;
      font-size: 0.8em;
    }
  }
}

#symptoms-stat {
  margin-top: 3em;

  li > .row {
    background-color: #f5f4f2;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  .symptom-list-index {
    span {
      width: 2em;
      height: 2em;
      display: inline-block;
      text-align: center;
      background-color: #989898;
      color: #FFF;
      border-radius: 2em;
      line-height: 2em;
      font-size: 1.2em;
    }
  }
}
