@import "settings";
@import "mixin";

/*---------------------------------
	LOGO
---------------------------------*/

.logo{
	width: 214px !important;
	height: 38px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../images/sicksense-logo.png) no-repeat;

	@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
	    background-image: url(../images/sicksense-logo@2x.png);
	    -webkit-background-size: 214px 38px;
	}

	/*--- Make padding-left on mobile screen ---*/
	@media #{$medium-only}, #{$small-only} {
		margin-left: .8em !important;
	}


}

/*---------------------------------
	PROVINCES LIST
---------------------------------*/
.provinces-list{
	width: 932px !important; /* Fix Table */
	margin: 0 !important; /* Reset row class to make indent */
	border: 1px solid #C4C4C4;
	background: #fff;

	/*--- Name of region ---*/
	h2{
		margin: 0 0 1em;
		padding: .75em 1em;
		font-size: 1em;
		font-weight: bold;
		text-align: center;
		background-color: #dbdbdb;
	}
	/*--- Columns ---*/
	li{
		padding: 0;
		a{
			padding: 0.2rem 0.2rem 0.4rem;
			color: #547b8a;

			&:hover{
				text-decoration: underline;
			}
		}
		/*--- Remove all li hover from f-dropdown default ---*/
		&:hover{
			background: transparent;
		}
	}

	.region-list{
		width: 120px;
		min-height: 420px;
		border-right: 1px solid #C4C4C4;
		list-style: none;

		/*--- North East & central---*/
		&:nth-child(2), &:nth-child(3){
			width: 200px;

			/*--- Set 2 Columns of province---*/
			.province-name{
				display: inline-block;
				width: 45%;
			}
		}

		/*--- Set New width for central(child(3)) ---*/
		&:nth-child(3){
			width: 250px;
		}
		&:last-child{
			border: none;
		}
	}

	.province-group{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.province-name{
		padding: 0 1em;
	}
}

/*--- For Mobile ---*/
.provinces-for-mobile{
	dd > a{
		padding: .5rem 1em;
		font-size: 1em;
		font-weight: bold;
	}

	.province-name{
		display: inline-block;
		width: 145px;
		padding: 0 1em .5em 1em;

		@media #{$medium-only} {
			/*width: ;*/
		}

		@media #{$small-only} {
			width: 33%;
		}
	}
}

/*---------------------------------
	FILTER ROW
---------------------------------*/
.filter{
	position: absolute;
	width: 100%;
	margin-top: 20px;
	z-index: 99;
	-webkit-animation-duration: .5s;
	-webkit-animation-delay: 2s;

	@media only screen and (max-width: 40em) {
		margin: 0px;

		.columns{
			padding: 0;
		}
	}
}

/*---------------------------------
	FILTER WRAPPER
---------------------------------*/
.map-control {
	position: relative;
	z-index: 999;
	padding: 15px;
	border: 1px solid #ddd;
	background: rgba(255, 255, 255, 0.75);

	.f-dropdown{
		width: auto;
		max-width: none;
		border: none;

		li a{
			padding: 1rem 0.5rem;
		}
	}
}

.more-info{
	position: relative;
	z-index: 99;
	width: 186px;
	padding: 10px 15px;
	margin: 20px 0 0;
	border: 1px solid #ddd;
	background: rgba(255, 255, 255, 0.8);
}


/*---------------------------------
	ILI STAT
---------------------------------*/
.ili-stat {
	margin: 25px 0 0;

	/*--- Set Text style of label, value ---*/
  .ili-stat_label {
    margin-bottom: 0.8em;
    color: #666;

    .typcn{
	    font-size: 1.7em;
	    margin: 0 5px 0 0;
    }
  }
  .ili-stat_value {
	  margin: 0 0 10px;
    font-size: 1.7em;
    font-weight: bold;
  }

  /*--- Set Icon Color ---*/
  .ili-stat-ili-delta{
  	.typcn-arrow-down-thick{
	  	color: #5b8196 ;
  	}
  }

  /*--- Moblie Srceen ---*/
  .ili-stat-row{
  	@media #{$small-only} {
  		border-bottom: 1px dotted #ccc;
  		margin: 0;
  		padding: 0;
  		border: none;
  	}
  }
  @media #{$small-only} {
  	text-align: center;
  }

  @media only screen and (max-width: 320px){
	  .typcn{
	  	display: none;
	  }
  }
}

/*---------------------------------
	SYMPTOMS STAT
---------------------------------*/
.symptoms-stat {
  .content {
    height: 360px;
  }

  li{
    padding: 10px 10px 5px;
    margin-bottom: 7px;
    background-color: #f5f4f2;
  }

  .symptom-list-index {
    span {
    	@include border-radius(2em);
      width: 2em;
      height: 2em;
      display: inline-block;
      text-align: center;
      background-color: #989898;
      color: #FFF;
      line-height: 2em;
      font-size: 1em;
    }
  }

  .symptom-bar {
	  padding-left: 0;

  	.progress {
  	  height: 20px;
  	  margin: 0;
  	  padding-left: 0;
  	}
  	.meter{
  		width: auto;
  		/*position: static;*/

  		/*--- Make Animation ---*/
  		/*-moz-transition: all .1s ease-out;
  		-webkit-transition: all .1s ease-out;
  		-o-transition: all .1s ease-out;
  		transition: all .1s ease-out;*/
  	}
  }
}

/*--- Progress Bar ---*/
.progress {
  padding-right: 60px;
  border: none;
  .meter {
    position: relative;
    background: #00e4e5;

    .meter-number {
      display: block;
      position: absolute;
      top: 0px;
      right: -45px;
      font-size: 0.85em;
    }
  }
}

/*---------------------------------
	MAP
---------------------------------*/
#map {
  width: 100%;
  height: 40%;
  min-height: 500px;
  overflow: hidden;
}

/*---------------------------------
	CHART
---------------------------------*/
.chart{
	margin: 0 0 40px;
}


/*---------------------------------
	TIMELINE
---------------------------------*/
.timeline {
	min-height: 90px;
	margin: 0 0 50px;
  background-color: #3a4e5a;

  .typcn{
  	color: #5b8196;
  }
}


/*---------------------------------
	TIMELINE FILTER
---------------------------------*/
.timeline-filter {
	min-height: 100px;
	padding: 30px 0 15px 20px;
	border-right: 1px solid #2a3b45;

	/*--- Dropdown button ---*/
  .button {
  	padding: 0;
  	margin-bottom: 0;
  	font-size: 2em;
		background-color: #3a4e5a;

		strong {
			font-weight: normal;
		}
	}

	@media #{$small-only} {
		min-height: 90px;
		text-align: center;
		border-right: none;
		border-bottom: 1px solid #2a3b45;
	}

	@media #{$medium-up} {
		min-height: 90px;
		padding-left: 0;
	}
}
.timeline-year {
	width: 95px;
  border: 1px solid #2a3b45;
  background: #2a3b45;

  li a {
  	color: #fff;
  	text-align: center;
  	padding: 1rem .5rem;
  	
  	&:hover {
      background: #456272;
      color: #fff;
  	}
  }

  &:before, &:after {
		border-color: transparent transparent #2a3b45 transparent;
  }

}


/*---------------------------------
	TIMELINE WEEK
---------------------------------*/
.timeline-week {
	padding-top: 20px;

	@media #{$small-only} {
		padding-top: 5px;
	}

	@media #{$medium-only} {
		padding-top: 25px;
	}

	@media #{$medium-up} {

	}
}

/*--- Wrap ---*/
.timeline-week-items{
	position: relative;
}

.timeline-week-item {
  position: relative;
  top: 18px;
  z-index: 9;
  display: inline-block ;
  width: 1.8867924%; // 100 / 53
  height: 10px;
  text-align: center;
  border-left: 1px solid #11a0a4;

  &:first-child{
  	border: none;
  }
}

/*--- Pin Drop ---*/
.timeline-week-pin {

	/*--- Make Animation ---*/
  -moz-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;

	float: left;
  display: inline-block;
  width: 100%;
  height: 10px;

	/*--- Hover bar ---*/
  &:hover {
    cursor: pointer;
    background-color: #19252d;
  }

  &.selected {
    background-color: #19252d;
  }

  &:last-of-type{

  }
}

.timeline-week-horizon {
	@include border-radius(2em);
	position: absolute;
	top: 20px;
	left: 0;
	width: 98%;
  height: 10px;
  background-color: #2a3b45;
}

.timeline-tip{
	display: block;
	height: 10px;
	width: 100%;
	z-index: 29;
	border: none;
	text-indent: -999em;
	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;

	&:hover{
		border: none;
	}

	/*-- When .timeline-week-pin is selected a circle will show --*/
	.selected &{
		@include border-radius(30px);
		height: 30px;
		width: 30px;
		margin: -8px auto 0;
		background: #00e4e4;

		@media #{$small-only} {
			@include border-radius(20px);
			height: 20px;
			width: 20px;
			margin: -5px auto 0;
		}
	}
}


/*---------------------------------
	MODAL
---------------------------------*/
.about-modal{
	h2{
		margin-bottom: .75em;
		font: normal 2.2em/1em umpushbold;
	}

	@media #{$small-only}, #{$medium-only} {
		top: 100px;
	}
}

/*fufu*/
.timeline-columns{
	height: 60px;
}
