<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SickSense</title>
  <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/bower_components/typicons/src/font/typicons.min.css" />
  <link rel="stylesheet" href="/bower_components/nouislider/jquery.nouislider.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <script src="/bower_components/modernizr/modernizr.js"></script>
</head>

<body ng-app="sicksense">
  <div id="top-nav-bar" class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">SickSense</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#">About Us</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div id="map"></div>

  <div id="city-ili-floating-box">
    <div id="city-selector" ng-controller="CitySelector">
      <a href="#" class="button" data-dropdown="city-drop" title="City">{{ city.th }} <span class="typcn typcn-arrow-sorted-down"></span></a>
      <div id="city-drop" class="large f-dropdown" data-dropdown-content>
        <table class="table">
          <thead>
            <tr>
              <th ng-repeat="region in regions">{{ region.name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ng-repeat="region in regions">
                <div ng-repeat="province in region.provinces" class="province-name" ng-click="setCity(province)">
                  <span>{{ province.th }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="ili-stat" ng-controller="ILIController">
      <div class="row">
        <div id="ili-stat-ili-thisweek" class="large-3 columns">
          <div class="ili-stat_label">ILI</div>
          <div class="ili-stat_value">{{ thisWeek }}%</div>
        </div>
        <div id="ili-stat-ili-delta" class="large-4 columns">
          <div class="ili-stat_label">Last week</div>
          <div class="ili-stat_value">{{ delta }}%</div>
        </div>
        <div id="ili-stat-ili-reporternumbers" class="large-5 columns">
          <div class="ili-stat_label">Number of reporters</div>
          <div class="ili-stat_value">{{ numberOfReporters }}</div>
        </div>
      </div>
    </div>
  </div>

  <div id="map-legend">
    <ul class="inline-list">
      <li class="legend-fine">
        <div><span class="typcn typcn-media-record"></span> Fine</div>
      </li>
      <li class="legend-sick">
        <div><span class="typcn typcn-media-record"></span> Sick</div>
      </li>
    </ul>
  </div>

  <div id="week-selector" ng-controller="WeekSelector">
    <div class="row">

      <div class="large-2 columns">

        <div id="year-selector">
          <a href="#" class="button" data-dropdown="year-drop" title="Year">{{ year + 543 }} <span class="typcn typcn-arrow-sorted-down"></span></a>
          <ul id="year-drop" class="large f-dropdown" data-dropdown-content>
            <li ng-repeat="value in years">
              <a ng-click="setYear(value)" data-year="{{ value }}">{{ value + 543 }}</a>
            </li>
          </ul>
        </div>

      </div>

      <div class="large-10 columns">

        <!-- <div id="week-slider">

        </div> -->

        <div id="week-line">
          <div id="week-month-name">
          </div>
          <div id="week-knots" class="knots knots-ui">
            <div class="knot-box" ng-repeat="date in weeks">
              <time  class="knot-pin" ng-class="{ selected: isSelectedWeek(date) }" datetime="{{ date.toString() }}" ng-click="setWeek(date)">
              </time>
            </div>
            <hr class="ghost-line">
          </div>


          <div class="week-knots-quarter-button right" ng-click="toggleQuartersUI()">
            <span class="typcn typcn-arrow-sorted-down" ng-show="quarterExpand"></span>
            <span class="typcn typcn-arrow-sorted-up" ng-hide="quarterExpand"></span>
          </div>
        </div>

      </div>

    </div><!-- top row -->


    <div id="week-quarters" ng-show="quarterExpand">
      <div id="week-quarter-1" class="week-quarter" ng-class="{ selected: quarter == 1 }" data-quarter="1" ng-click="setQuarter(1)">
        <div class="row">
          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[0] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[1] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[2] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <hr class="ghost-line" />
        </div>
      </div><!-- /#week-quarter-1 -->

      <div id="week-quarter-2" class="week-quarter" ng-class="{ selected: quarter == 2 }" data-quarter="2" ng-click="setQuarter(2)">
        <div class="row">
          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[3] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[4] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[5] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <hr class="ghost-line" />
        </div>
      </div><!-- /#week-quarter-2 -->

      <div id="week-quarter-3" class="week-quarter" data-quarter="3" ng-click="setQuarter(3)">
        <div class="row">
          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[6] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[7] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[8] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <hr class="ghost-line" />
        </div>
      </div><!-- /#week-quarter-3 -->

      <div id="week-quarter-4" class="week-quarter" data-quarter="4" ng-click="setQuarter(4)">
        <div class="row">
          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[9] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[10] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <div class="large-4 columns text-center">
            <div class="week-month-name">
              {{ monthNames[11] }}
            </div>
            <div class="knots knots-static">
              <span class="typcn typcn-media-record"></span>
            </div>
          </div>

          <hr class="ghost-line" />
        </div>
      </div><!-- /#week-quarter-4 -->
    </div>
  </div><!-- /#week-selector -->

  <div class="row">
    <div class="large-6 large-centered columns">
      <div id="symptoms-stat" ng-controller="SymptomsController">
        <h4>Symptoms Statistics</h4>

        <ul class="no-bullet" ng-show="symptoms">
          <li ng-repeat="symptom in symptoms">
            <div class="row">
              <div class="large-2 columns text-center symptom-list-index"><span>{{ $index + 1 }}</span></div>
              <div class="large-10 columns symptom-bar">
                <div class="progress radius">
                  <span class="meter" style="width:{{ symptom.percentOfReports }}%">
                    <span class="meter-number">{{ symptom.percentOfReports }}%</span>
                  </span>
                </div>

                {{ symptom.name }}
              </div>
            </div>
          </li>
        </ul>
        <div ng-hide="symptoms">
          No symptoms.
        </div>
      </div>
    </div>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/async/lib/async.js"></script>
  <script src="/bower_components/lodash/dist/lodash.js"></script>
  <script src="/bower_components/foundation/js/foundation.min.js"></script>
  <script src="/bower_components/leaflet/dist/leaflet.js"></script>
  <script src="/bower_components/momentjs/moment.js"></script>
  <script src="/bower_components/momentjs/lang/th.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/runonce.js"></script>
  <script src="/js/app.js"></script>

</body>
</html>
