@import "settings";
@import "mixin";

.register-form,
.reset-password-form,
.change-password-form,
.edit-profile-form,
.login-form{
    padding-top: 50px;

	@media #{$medium-only}, #{$small-only} {
		padding-top: 20px;
	}
}

.report-form,
.reset-password-form,
.change-password-form,
.edit-profile-form {
    p{
        font-size: 1.2em;
    }
}

.txt-moreinfo{
    height: 100px;
}