@import "settings";

/*---------------------------------
	FILTER ROW
---------------------------------*/
.filter{
	position: absolute;
	width: 100%;
	margin-top: 20px;
	z-index: 99;
	-webkit-animation-duration: .5s;
	-webkit-animation-delay: 2s;

	@media only screen and (max-width: 40em) {
		margin: 0px;

		.columns{
			padding: 0;
		}
	}
}

/*---------------------------------
	FILTER WRAPPER
---------------------------------*/
.map-control {
	position: relative;
	z-index: 999;
	padding: 15px;
	border: 1px solid #ddd;
	background: rgba(255, 255, 255, 0.75);

	.f-dropdown{
		max-width: none;
		border: none;

		@media #{$medium-only} {
			width: 96.5%;
		}
	}
}

.more-info{
	position: relative;
	z-index: 99;
	width: 186px;
	padding: 10px 15px;
	margin: 20px 0 0;
	border: 1px solid #ddd;
	background: rgba(255, 255, 255, 0.8);
}


/*---------------------------------
	FILTER WRAPPER
---------------------------------*/
.secondnary-bar{
    height: 45px;
    padding: 10px 20px;
    color: #fff;
    background: #282828;
}

.off-canvas-wrap, .inner-wrap{
    height: 100%;
}

.symptoms-stat-list{
    li{
        background-color: transparent !important;
        margin: 0;
        padding: 0 0.71429rem 1.42857rem !important;
    }
}
.symptoms-stat-name{
    border-bottom: 3px solid #ccc;
    margin-bottom: 5px;
    font-size: 18px;
}

.hidden-button{
    @media only screen and (max-width: 735px){
        display: none;
    }
}

.ili-stat{
    p{
        margin-bottom: 5px;
    }
}
.ili-stat-value{
    font-size: 24px;
    font-weight: bold;
}