/*---------------------------------
	MIXIN
---------------------------------*/
@mixin border-radius($r){
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	-khtml-border-radius: $r;
	border-radius: $r;	
}