@import "settings";
@import "mixin";

/*---------------------------------
	ILI STAT
---------------------------------*/
.ili-stat {
	margin: 25px 0 0;

	/*--- Set Text style of label, value ---*/
  .ili-stat_label {
    margin-bottom: 0.8em;
    color: #666;

    .typcn{
	    font-size: 1.2em;
	    margin: 0 5px 0 0;
    }
  }
  .ili-stat_value {
	  margin: 0 0 10px;
    font-size: 1.3em;
    font-weight: bold;
  }

  /*--- Set Icon Color ---*/
  .ili-stat-ili-delta{
  	.typcn-arrow-down-thick{
	  	color: #5b8196 ;
  	}
  }

  /*--- Moblie Srceen ---*/
  .ili-stat-row{
  	@media #{$small-only} {
  		border-bottom: 1px dotted #ccc;
  		margin: 0;
  		padding: 0;
  		border: none;
  	}
  }
  @media #{$small-only} {
  	text-align: center;
  }

  @media only screen and (max-width: 320px){
	  .typcn{
	  	display: none;
	  }
  }
}

/*---------------------------------
	SYMPTOMS STAT
---------------------------------*/
.symptoms-stat {
  .content {
    height: 320px;
  }

  li{
    padding: 10px 10px 5px;
    margin-bottom: 7px;
    background-color: #f5f4f2;

    &:last-child{
    	margin: 0;
    }
  }

  .symptom-list-index {
    span {
    	@include border-radius(2em);
      width: 2em;
      height: 2em;
      display: inline-block;
      text-align: center;
      background-color: #989898;
      color: #FFF;
      line-height: 2em;
      font-size: 1em;
    }
  }

  .symptom-bar {
	  padding-left: 0;
		padding-right: 70px;

  	.progress {
  	  height: 20px;
  	  margin: 0;
  	  padding-left: 0;
  	}
  	.meter{
  		width: auto;
  	}
  }
}

/*--- Progress Bar ---*/
.progress {
  border: none;
  .meter {
    position: relative;
    background: #00e4e5;

    .meter-number {
      display: block;
      position: absolute;
      top: 0px;
      right: -55px;
      font-size: 0.85em;
    }
  }
}


/*---------------------------------
	SYMPTOMS REPORT LIST
---------------------------------*/
.symptoms-list {
    overflow: hidden;
    padding: 0;
    margin: 0 0 1.2em;
    list-style: none;
    
    .symptoms-item{
        float: left;
        width: 100px;
        height: 120px;
        margin: 0 5px 5px 0;
        
        &:hover{
           cursor: pointer;
        }
        
        img{
            width: 100px;
            height: 120px;
        }
    }
}
.reportSuccess{
    h3{
        margin: 20px 0 0;
    }
    p{
        margin: 2.5em 0 1em;
    }
}