/*---------------------------------
	Utility Classes
---------------------------------*/
@import "settings";

.block{
	margin-bottom: 2.5em;
}
.title-block{
	margin-bottom: 1.5em;
	/*font: normal 1.8em/1.5em umpushbold;*/
	font: 700 1.7em/1.5em "Boon-0.6";
}
.inline-list{
  margin: 0;

	li{
	  display: inline-block;
	  margin: 0 10px 0 0;
		font-size: .85em;
	}
}
.block-list{
	margin: 0;
	color: #2a3b45;
	list-style: none;
}
.no-bullet{
	margin-bottom: 0;
}
.container-block{
    margin-top: 50px;

	@media #{$medium-only}, #{$small-only} {
		margin-top: 20px;
	}
}
.row-full-width{
    max-width: 100%;

    .columns{
        padding: 0;
    }
    .row{
        margin: 0;
    }
}
.p-20{
    padding: 0 20px;
}
.no-margin{
    margin: 0 !important;
}

/*---For typcn-icon dropdown menu ---*/
.rotate::before{
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}
/*--- hide for a11y ---*/
.hidden{
	position: absolute;
	left: -999em;
	overflow: hidden;
	text-indent: -999em;
	height: 0;
	line-height: 0;
}


/*---------------------------------
	ICON ROUND
---------------------------------*/
.icon-round{
	border-radius: 20px;
	display: inline-block !important;
	width: 16px;
	height: 16px;
	margin: 0 10px 0 0;
	vertical-align: middle;
	background-color: #ccc;

	&.big{}
	&.small{}

	&.gray{ background-color: #00aeae; }
	&.red{ background-color: #dc0029; }
	&.orange{ background-color: #fdd167; }
	&.light-gray{ background-color: #59eded; }
}


/*---------------------------------
	TOOL TIP
---------------------------------*/
.tooltip{
	border-radius: 10px;
	color: #333;
	background: #00e4e4;
	z-index: 10;

	> .nub{
		display: none;
		left: 5%;
	}
}
.has-tip{
	cursor: pointer;
}
.tooltip.tip-top > .nub {
	border-color: #00e4e4 transparent transparent transparent;
}

/**
 * Clearing
 */
.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}



.info-list{
    margin: 20px 0 20px 40px;
}


.doctorme-icon{
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url(../../images/ic-Small@2x.png);
    background-size: 29px 29px;
    vertical-align: top;
    margin-right: 10px;
}