@import "settings";
@import "mixin";

/*---------------------------------
	CHART
---------------------------------*/
.chart{
	margin: 0 0 40px;
}


.od-side-nav-block{
    margin-top: 50px;

    @media #{$medium-only}, #{$small-only} {
		margin-top: 20px;
	}

    h2{
        font-size: 1.5em;
        background-color: #F4F4F4;
        margin: 0;
        padding: 7px 15px 10px;
    }
}
.od-side-nav{
    padding: 0;
    background-color: #3a4e5a;

    li{
        margin: 0;
        border-bottom: 1px solid #2C3E49;

        a:not(.button){
            padding: 12px 15px;
        }

        &.active > a:first-child:not(.button){
            background-color: #2C3E49;
        }
    }
}

#loading-bar {
	.bar {
		background: #2C3E49;
		height: 4px;
	}

	.peg {
		height: 4px;
		opacity: .45;
		-moz-box-shadow: #2C3E49 1px 0 6px 1px;
		-ms-box-shadow: #2C3E49 1px 0 6px 1px;
		-webkit-box-shadow: #2C3E49 1px 0 6px 1px;
		box-shadow: #2C3E49 1px 0 6px 1px;
	}
}

#loading-bar-spinner {
	.spinner-icon {
		border-top-color:  #2C3E49;
		border-left-color: #2C3E49;
	}
}
