<div id="aboutModal" class="reveal-modal about-modal" data-reveal>
  <h2>เกี่ยวกับเรา</h2>
  <p>ตั้งแต่เมื่อไรไม่รู้ที่มนุษยชาติเราหลงลืมไปว่าภัยคุกคามที่ใกล้ตัวที่สุดคือ โรคระบาดอุบัติใหม่ ลองนึกถึงว่า หากโลกปัจจุบันมีโรคระบาดในระดับเดียวกับ<a href="https://en.wikipedia.org/wiki/1918_flu_pandemic" target="blank">ไข้หวัดสเปน</a> ในช่วงปี พ.ศ. 2461 - 2463 ที่ทำให้ประชากรโลก 3 - 5% เสียชีวิตในช่วงระยเวลาการระบาด หากจะให้ใกล้ตัวขึ้นอีกนิดก็คือการระบาดไข้หวัดใหญ่สายพันธุ์ใหม่ 2009</p>
  <p>Sicksense เป็นโครงการภายใต้ความร่วมมือของ <a href="http://www.skollglobalthreats.org/" target="blank">Skoll Global Threats Fund</a> , <a href="http://www.thaihealth.or.th/" target="blank">สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)</a> และ <a href="http://www.opendream.co.th/" target="blank">โอเพ่นดรีม</a> ในการสร้างเครือข่ายอาสาสมัครดิจิทัลเพื่อร่วมกันหาสัญญาณของโรคระบาดอุบัติใหม่แบบมีส่วนร่วม ผ่านการรายงานสุขภาพของตนเองแบบนิรนาม</p>
  <p>เราตั้งเป้าหมายในการเป็นผู้ช่วยของระบบสาธารณะสุขในปัจจุบันเพื่อการค้นหาสัญญาณการเจ็บป่วยแบบ real-time และมีส่วนร่วมผ่านเครื่องมือดิจิทัลต่างๆ ผู้ใช้ในประเทศไทยทุกสามารถเข้าร่วมเป็นอาสาสมัครได้</p>
  <p>Sicksense จะเก็บแต่ข้อมูลนิรนามของผู้ใช้และจะใช้งานข้อมูลเหล่านั้นเพื่อการวิเคราะห์หาสัญญาณของโรคระบาดอุบัติใหม่ที่ไม่ใช่เพื่อผลประโยชน์ทางการค้าเท่านั้น</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
