<nav class="top-bar slideInDown animated " data-topbar role="navigation" ng-controller="AdminMenuController">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#" class="logo">SickSense</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="has-form">
                <div class="row collapse">
                    <div class="large-8 small-9 columns">
                        <input type="text" ng-model="token" placeholder="Enter API token">
                    </div>
                    <div class="large-4 small-3 columns">
                        <button type="button" class="success" ng-click="loginAdmin()">ยืนยัน</button>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</nav>
