<div class="footer">
  <div class="row">
    <div class="large-8 medium-6 columns">
      <p class="credit">สนับสนุนโดย Skoll Global Threats Fund พัฒนาระบบโดย Opendream สัญญาอนุญาต cc by-nc-sa</p>
    </div>
    <div class="large-4 medium-6 columns">
      <a href="http://www.skollglobalthreats.org/" target="blank" class="skoll-logo-new">Skoll Global Threats Fund
        Logo</a>
      <a href="http://www.opendream.co.th" target="blank" class="od-logo">Opendream Logo</a>
    </div>
  </div>
</div>