<nav class="top-bar slideInDown animated " data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/" class="logo">SickSense</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>เมนู</span></a>
        </li>
    </ul>

    <section class="top-bar-section" ng-controller="MenuController">
        <ul class="right">            
            <li ng-hide="shared.loggedIn"><a href="/login.html" >เข้าสู่ระบบ</a></li>
            <li ng-hide="shared.loggedIn"><a href="/register.html">สมัครสมาชิก</a></li>
            <li ng-show="shared.loggedIn"><a href="/report.html" >รายงานอาการ</a></li>
            <li ng-hide="shared.loggedIn"><a href="/report.html" data-reveal-id="reportModal" >รายงานอาการ</a></li>
            <li ng-show="shared.loggedIn"><a href="/edit-profile.html" >ข้อมูลส่วนตัว</a></li>
            <li ng-show="shared.loggedIn"><a href="#" ng-click="logout()" >ออกระบบ</a></li>
            <li><a href="#" data-reveal-id="aboutModal">เกี่ยวกับเรา</a></li>
        </ul>
    </section>
</nav>
