<!-- Off Canvas Menu -->
<aside class="right-off-canvas-menu">
<ul class="off-canvas-list">
    <li><a href="#">สถิติอาการป่วย</a></li>
    <li><a href="#">สถิติอาการป่วยคล้ายไข้หวัดใหญ่ทั้งประเทศ</a></li>
    <li><a href="#">เข้าสู่ระบบ</a></li>
    <li><a href="#">ลงทะเบียน</a></li>
    <li><a href="#">เกี่ยวกับเรา</a></li>
    <li><label>ข้อมูลส่วนตัว</label></li>
    <li><a href="#">แก้ไขข้อมุลส่วนตัว</a></li>
    <li><a href="#">The Mule</a></li>
</ul>
</aside>
