<ul class="side-nav">
    <li {{#is basename "edit-profile"}} class="active" {{/is}}>
      <a href="edit-profile.html">แก้ไขข้อมูลส่วนตัว</a>
    </li>
    <li {{#is basename "change-password"}} class="active" {{/is}}>
      <a href="change-password.html">เปลี่ยนรหัสผ่าน</a>
    </li>
</ul>
