<div id="reportModal" class="reveal-modal about-modal" data-reveal>
  <h2>เกี่ยวกับเรา</h2>
  <p>ตั้งแต่เมื่อไรไม่รู้ที่มนุษยชาติเราหลงลืมไปว่าภัยคุกคามที่ใกล้ตัวที่สุดคือ โรคระบาดอุบัติใหม่ ลองนึกถึงว่า หากโลกปัจจุบันมีโรคระบาดในระดับเดียวกับ<a href="https://en.wikipedia.org/wiki/1918_flu_pandemic" target="blank">ไข้หวัดสเปน</a> ในช่วงปี พ.ศ. 2461 - 2463 ที่ทำให้ประชากรโลก 3 - 5% เสียชีวิตในช่วงระยเวลาการระบาด หากจะให้ใกล้ตัวขึ้นอีกนิดก็คือการระบาดไข้หวัดใหญ่สายพันธุ์ใหม่ 2009</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
