<div id="reportModal" class="reveal-modal about-modal small" data-reveal>
  <h2>รายงานสุภาพ</h2>
  
  <p>ร่วมรายงานสุขภาพของคุณและสร้างเครือข่ายอาสาสมัครดิจิทัลเพื่อร่วมกันหาสัญญาณของโรคระบาดอุบัติใหม่แบบมีส่วนร่วม ผ่านการรายงานสุขภาพของตนเองแบบนิรนาม</p>
  <a href="report.html" class="button expand ss-button">รายงานแบบนิรนาม</a>
  <p>หากคุณต้องการระบุตัวตนสามารถ<a href="register.html">ลงทะบียน</a>หรือ<a href="login.html">เข้าสู่ระบบ</a></p>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
