<div class="row" ng-controller="ChangePasswordController">
  <div ng-init="initial()"></div>


  <div class="large-3 medium-4 columns">
      {{> "profile-sidebar" }}
  </div>

  <div class="large-9 medium-8 columns">
    <form class="change-password-form" ng-submit="submit()">
      <h1>เปลี่ยนรหัสผ่าน</h1>

      <div class="row">
        <!-- ALERT COMPLETED -->
        <div data-alert class=" alert-box success radius" ng-show="submitStatus == 'completed'">
          เปลี่ยนรหัสผ่านเรียบร้อยแล้ว
        </div>

        <!-- ALERT FAILED -->
        <div data-alert class=" alert-box alert radius" ng-show="submitStatus == 'failed'">
          เกิดข้อผิดพลาด กรุณาลองใหม่อีกครั้ง
        </div>
      </div>

      <div class="row">
          <div class="large-3 columns">
              <label class="right-label inline">อีเมล</label>
          </div>
          <div class="large-9 columns">
              [[ email ]]
          </div>
      </div>
      <div class="row">
          <div class="large-3 columns">
              <label class="right-label inline">รหัสผ่านเดิม</label>
          </div>
          <div class="large-9 columns">
              <input type="password" ng-model="oldpassword" placeholder="********" class="no-margin"/>
              <small class="error" ng-show="invalidOldPassword">รหัสผ่านต้องไม่น้อยกว่า 8 ตัวอักษร</small>
              <small class="error" ng-show="wrongOldPassword">รหัสผ่านไม่ถูกต้อง</small>
          </div>
      </div>
      <div class="row">
          <div class="large-3 columns">
              <label class="right-label inline">รหัสผ่าน</label>
          </div>
          <div class="large-9 columns">
              <input type="password" ng-model="password" placeholder="********" class="no-margin" />
              <small class="error" ng-show="invalidPassword">รหัสผ่านต้องไม่น้อยกว่า 8 ตัวอักษร</small>
          </div>
      </div>
      <div class="row">
          <div class="large-3 columns">
              <label class="right-label inline">ยืนยันรหัสผ่าน</label>
          </div>
          <div class="large-9 columns">
              <input type="password" ng-model="repassword" placeholder="********" class="no-margin" />
              <small class="error" ng-show="invalidSamePassword">รหัสผ่านไม่ตรงกัน</small>
          </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <input type="submit" class="button ss-button ss-button-full-width radius" value="ยืนยัน" />
        </div>
      </div>
    </form>
  </div>
</div>

{{#content "js_footer"}}
<script src="/js/app-change-password.js"></script>
{{/content}}
