<div class="row" ng-controller="ForgotPasswordController">

  <div class="large-8 columns large-centered" ng-show="message" ng-cloak>
    <div class="panel radius container-block">
        <h2 class="text-center">ลืมรหัสผ่าน</h2>
        <div class="text-center">
          <p>[[ message ]]</p>
          <a ng-show="isiOS" class="button ss-button radius" href="sicksense://finish-action" ng-cloak><span class="doctorme-icon"></span>เข้าใช้งานแอบพลิเคชั่นหมอชาวบ้าน</a>
        </div>
    </div>
  </div>

  <div class="large-12 columns" ng-hide="submitting && message">
    <form name="forgotPasswordForm" class="register-form" novalidate ng-submit="submit()">
      <div class="row">
        <div class="large-8 large-centered columns">
          <h1>ลืมรหัสผ่าน</h1>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">

          <div data-alert class="alert-box alert radius" ng-show="error" ng-cloak>
            เกิดข้อผิดพลาด กรุณาลองใหม่อีกครั้ง
          </div>

          <div data-alert class="alert-box alert radius" ng-show="invalidResetLink" ng-cloak>
            ไม่ได้สามารถตั้งค่ารหัสผ่านใหม่ได้ โปรดตรวจสอบลิงก์ใหม่
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">อีเมล</label>
            </div>
            <div class="large-9 columns">
              <input type="email" required ng-model="email" name="email" placeholder="mayom@sicksense.org" class="no-margin" />
              <small class="error" ng-show="invalidEmail" ng-cloak>กรุณากรอกอีเมลให้ถูกต้อง</small>
              <small class="error" ng-show="invalidUser" ng-cloak>ไม่พบอีเมลในระบบ</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">
          <input type="submit" class="button ss-button ss-button-full-width" ng-class="{disabled:submitting}" value="ยืนยัน" />
        </div>
      </div>
    </form>
  </div>
</div>

{{#content "js_footer"}}
<script src="/bower_components/jquery.browser/dist/jquery.browser.min.js"></script>
<script src="/js/app-forgotpassword.js"></script>
{{/content}}
