<div class="filter fadeIn animated">
  <div class="row">
    <div class="large-6 small-12 columns">
      <div class="map-control">
        <div ng-controller="CitySelector">

          <!--Dropdown Button-->
          <a ng-cloak class="dropdown-button" href="#" data-dropdown="city-drop" title="City">[[ city.properties.th ]]
            <span class="typcn typcn-chevron-right rotate right"></span>
          </a>
          


          <!--Dropdown-->
          <div id="city-drop" class="city-dropdown f-dropdown" data-dropdown-content>

            <!--Mobile-->
            <dl class="accordion provinces-for-mobile show-for-small-up hide-for-large-up" data-accordion>
              <dd ng-repeat="region in regions">
                <a ng-cloak class="" href="#panel[[ $index ]]">[[ region.name ]]</a>
                <div id="panel[[ $index ]]" class="content">
                  <a class="province-name" ng-repeat="province in region.provinces | orderBy:province.properties.th"
                    ng-click="setCity(province)">[[ province.properties.th ]]</a>
                </div>
              </dd>
            </dl>

            <!--Web-->
            <ul class="provinces-list hide-for-medium-down row">
              <li class="region-list large-2 columns" ng-repeat="region in regions">
                <h2 ng-clock>[[ region.name ]]</h2>
                <ul class="province-group">
                  <li class="province-name" ng-repeat="province in region.provinces | orderBy:province.properties.th"
                    ng-click="setCity(province)">
                    <a ng-cloak>[[ province.properties.th ]]</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="provinces-all">
              <a ng-click="setCity('all')">แสดงทั้งประเทศ</a>
            </div>
          </div>
          <!--End Dropdown-->

        </div>


      </div>
      <!--control-->

    </div>
    <!--col-->
  </div>
  <!--row-->
</div>
<!--filter-->

<div id="map">
  <!--MAP-->
</div>

<div id="week-selector" class="contain-to-grid sticky timeline" ng-controller="WeekSelector">
  <div data-topbar data-options="sticky_on: large">
    <div class="row">


      <div class="large-12 columns timeline-columns">
        <div id="week-line" class="timeline-week">
          <div class="week-name">
            วันที่ [[ weekName ]]
          </div>

        </div>

        <div class="more-info">
          <p class="hidden">คำอธิบายเพิ่มเติม</p>
          <ul class="inline-list">
            <li><span class="icon-round gray"></span> สบายดี</li>
            <li><span class="icon-round red"></span> มีอาการ</li>
          </ul>
        </div>

      </div>

    </div>
    <!--row-->
  </div>
  <!--sticky-->
</div><!-- /#week-selector -->


<div class="stat-wrapper">

  

  <div class="ili-stat" ng-controller="ILIController">
    <div class="row">


      <div class="ili-stat-ili-reporternumbers ili-stat-row large-3 medium-12 small-12 columns">
        <span class="ili-stat_label">
          <!-- <span class="typcn typcn-clipboard"></span> -->
          จำนวนผู้บันทึกสุขภาพ
        </span>
        <span ng-cloak class="ili-stat_value">
          [[ numberOfReporters | number : 0 ]]
        </span>
      </div>

      <div class="ili-stat-ili-thisweek ili-stat-row large-5 medium-12 small-12 columns">
        <span class="ili-stat_label">
          <!-- <span class="typcn typcn-heart-full-outline"></span> -->
          สัดส่วนผู้บันทึกอาการคล้ายโควิด-19 จากผู้มีอากรป่วยทั้งหมด
        </span>
        <span ng-cloak class="ili-stat_value">
          [[ thisWeek | number : 2 ]]%
        </span>
      </div>

      <div class="ili-stat-ili-delta ili-stat-row large-4 medium-12 small-12 columns">
        <span class="ili-stat_label">
          <!-- <span class="typcn typcn-chart-bar"></span> -->
          สัดส่วนผู้มีอาการป่วยเทียบกับสัปดาห์ก่อน
        </span>
        <span ng-cloak ng-class="{ 'ili-stat_value': 1, 'up': (delta > 0), 'down': (delta < 0) }">
          <!--IF Condition-->
          <!-- <span ng-class="{ 'typcn': 1, 'typcn-arrow-up-thick': (delta > 0), 'typcn-arrow-down-thick': (delta < 0) }"></span> -->
          [[ (delta >= 0) ? '+' : '' ]][[delta| number : 2]]%
          </span>
      </div>


      <!--
      <div class="help-text" style="text-align: center; clear: both;"><sup>*</sup>ILI =
        ผู้ป่วยเข้าข่ายสงสัยว่าเป็นโรคไข้หวัดใหญ่
      </div>
      -->

    </div>
  </div>
  
</div>

<div class="statistics">
  <div class="row">
    {{!-- <div class="large-6 medium-6 columns">
      <div class="wow fadeInDown chart-block block" data-wow-duration="1s" ng-controller="GraphController">
        <h2 class="title-block">สถิติ ILI ของทั้งประเทศ</h2>
        <div id="chart">
        </div>
        <ul class="block-list">
          <li><span class="icon-round orange"></span> ข้อมูล ILI จากสำนักระบาดวิทยา</li>
          <li><span class="icon-round light-gray"></span> ข้อมูล ILI จาก DoctorMe และ <a
              href="https://line.me/R/ti/p/%40sabaideebot">สบายดี</a></li>
        </ul>
        <div class="help-text"><sup>*</sup>ILI = ผู้ป่วยเข้าข่ายสงสัยว่าเป็นโรคไข้หวัดใหญ่</div>
      </div>
    </div> --}}


    <div class="large-6 medium-6 columns">

      <div class="wow fadeInDown symptoms-stat block" ng-controller="SymptomsController" data-wow-duration="1s">
        <h2 class="title-block">สถิติอาการป่วย / Symptoms Statistics</h2>

        <div class="content">
          <div ng-hide="symptoms">ไม่มีข้อมูล</div>
          <ul class="no-bullet" ng-show="symptoms">
            <li ng-repeat="symptom in symptoms">
              <div class="row">
                <div class="symptom-list-index text-center large-2 small-2 columns"><span>[[ $index + 1 ]]</span></div>
                <div class="symptom-bar large-10 small-10 columns ">
                  <div class="progress radius" style="width:[[ symptom.percentOfReports | number : 2 ]]%">
                    <span class="meter">
                      <span class="meter-number">[[ symptom.percentOfReports | number : 2 ]]%</span>
                    </span>
                  </div>
                  <span class="symptom-name">[[ symptom.name ]]</span>
                </div>
              </div>
              <!--row-->
            </li>
          </ul>
        </div>
      </div>
      <!--symptoms-stat-->

    </div>
    <!--col-->
  </div><!-- /#row -->
</div><!-- statistics -->

{{#content "js_footer"}}
<script src="/js/app-home.js"></script>
<script src="/js/graph.js"></script>
{{/content}}