<div class="row" ng-controller="LoginController">
  <div class="large-12 columns">
    <form name="loginForm" novalidate class="login-form" ng-submit="login()">
      <div class="row">
        <div class="large-8 large-centered columns">
          <h1>เข้าสู่ระบบ</h1>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">
          <div data-alert class=" alert-box alert radius" ng-show="invalidLogin" ng-cloak>
            อีเมลหรือรหัสผ่านของคุณไม่ถูกต้อง
          </div>
          <div data-alert class=" alert-box alert radius" ng-show="unverifiedEmail" ng-cloak>
            กรุณาตรวจสอบอีเมลเพื่อยืนยันการใช้งาน Sicksense ID หากยังไม่ได้รับอีเมล
            <a href="/request-verify.html">สามารถขอลิงก์ได้ที่นี่</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">อีเมล</label>
            </div>
            <div class="large-9 columns">
              <input type="email" name="email" required ng-model="email" placeholder="mayom@sicksense.org" class="no-margin" />
              <small class="error" ng-show="invalidEmail" ng-cloak>กรุณากรอกอีเมลให้ถูกต้อง</small>
              <small class="error" ng-show="invalidDuplicateEmail" ng-cloak>อีเมลนี้ซ้ำ กรุณาใช้อีเมลอื่น</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">รหัสผ่าน</label>
            </div>
            <div class="large-9 columns">
              <input type="password" ng-model="password" placeholder="********" class="no-margin" />
              <small class="error" ng-show="invalidPassword" ng-cloak>รหัสผ่านต้องไม่น้อยกว่า 8 ตัวอักษร และไม่มากกว่า 64 ตัวอักษร</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-9 large-offset-3 columns">
              <p><a href="forgot-password.html">คุณลืมรหัสผ่าน ?</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">
          <input type="submit" class="button ss-button ss-button-full-width radius " value="เข้าสู่ระบบ" />
        </div>
      </div>
    </form>
  </div>
</div>


{{#content "js_footer"}}
<script src="/js/app-login.js"></script>
{{/content}}
