<div class="row" ng-controller="RegisterController">
  <div class="large-12 columns" ng-hide="submitSuccess">
    <form class="register-form" ng-submit="submit()">
      <div class="row">
        <div class="large-8 large-centered columns">
          <h1>สมัครสมาชิก</h1>
        </div>
      </div>
      <div class="row">
       <div class="large-8 large-centered columns">
        <div data-alert class=" alert-box alert radius" ng-show="unverifiedEmail">โปรดยืนยันอีเมลของคุณก่อนเข้าสู่ระบบ หากยังไม่ได้รับอีเมล <a href="/request-verify.html">สามารถขอลิ้งก์ได้ที่นี่</a></div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">อีเมล</label>
            </div>
            <div class="large-9 columns">
              <input type="text" ng-model="email" placeholder="mayom@sicksense.org" class="no-margin" />
              <small class="error" ng-show="invalidEmail">รูปแบบอีเมลไม่ถูกต้อง</small>
              <small class="error" ng-show="invalidDuplicateEmail">อีเมลนี้มีในระบบแล้ว กรุณาใช้อีเมลอื่น</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">รหัสผ่าน</label>
            </div>
            <div class="large-9 columns">
              <input type="password" ng-model="password" placeholder="********" class="no-margin" />
              <small class="error" ng-show="invalidPassword">รหัสผ่านต้องไม่น้อยกว่า 8 ตัวอักษร และไม่มากกว่า 64 ตัวอักษร</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">ยืนยันรหัสผ่าน</label>
            </div>
            <div class="large-9 columns">
              <input type="password" ng-model="repassword" placeholder="********" class="no-margin"/>
              <small class="error" ng-show="invalidSamePassword">รหัสผ่านไม่ตรงกัน</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">เพศ</label>
            </div>
            <div class="large-9 columns">
              <input type="radio" ng-model="gender" value="male" id="edit-male"><label for="edit-male">ชาย</label>
              <input type="radio" ng-model="gender" value="female" id="edit-female"><label for="edit-female">หญิง</label>
              <small class="error" ng-show="invalidGender">กรุณาเลือกเพศของคุณ</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">ปีเกิด (พ.ศ.)</label>
            </div>
            <div class="large-9 columns">
              <select ng-model="year" ng-options="k as v for (k, v) in yearOptions" class="no-margin"></select>
              <small class="error" ng-show="invalidYear">กรุณาเลือกปีเกิด</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">จังหวัด</label>
            </div>
            <div class="large-9 columns">
              <select id="city" name="city" ng-model="city" class="no-margin">
                <option ng-repeat="city in cityOptions" value="[[ city.key ]]">[[ city.value ]]</option>
              </select>
              <small class="error" ng-show="invalidCity">กรุณาเลือกจังหวัด</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">อำเภอ</label>
            </div>
            <div class="large-9 columns">
              <select id="district" name="district" ng-model="district" class="no-margin">
                <option ng-repeat="district in districts" value="[[ district.key ]]">[[ district.value ]]</option>
              </select>
              <small class="error" ng-show="invalidDistrict">กรุณาเลือกอำเภอ</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">ตำบล</label>
            </div>
            <div class="large-9 columns">
              <select id="subdistrict" name="subdistrict" ng-model="subdistrict" class="no-margin">
                <option ng-repeat="subdistrict in subdistricts" value="[[ subdistrict.key ]]">[[ subdistrict.value ]]</option>
              </select>
              <small class="error" ng-show="invalidSubdistrict">กรุณาเลือกตำบล</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <input id="edit-subscribe" type="checkbox" ng-model="subscribe" class="no-margin" />
          <label for="edit-subscribe">แจ้งเตือนผ่านอีเมล</label>
        </div>
      </div>

      <div class="row" ng-show="subscribe">
        <div class="large-8 large-centered columns">
          <div class="panel">Sicksenes จะส่งแบบสอบถามสุขภาพไปยังที่อยู่อีเมลที่คุณกำหนดไว้<strong>ทุกวัน</strong> แต่คุณสามารถยกเลิกการรับอีเมลนี้ได้</div>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">
          <input type="submit" class="button ss-button ss-button-full-width radius" value="สมัครสมาชิก" />
        </div>
      </div>
    </form>
  </div>

  <div class="large-12 columns" ng-show="submitSuccess">
    <div class="panel radius container-block">
      <h2 class="text-center">ลงทะเบียนสำเร็จแล้ว</h2><br/>
      <div class="text-center">
        <p>ระบบได้ส่งอีเมลเพื่อให้ผู้ใช้ยืนยันการใช้งานเรียบร้อยแล้ว<br/> กรุณาเช็คอีเมลของคุณและยืนยันการลงทะเบียนเพื่อประโยชน์ในการใช้ระบบ Sicksense</p>
        <a class="button ss-button radius" href="/register.html">รายงานสุขภาพ</a>
      </div>
    </div>
  </div>
</div>

{{#content "js_footer"}}
<script src="/js/locations.js"></script>
<script src="/js/app-register.js"></script>
{{/content}}
