<div class="row page-report" ng-controller="ReportController">
  <div class="large-12 columns" ng-hide="reportSuccess">
    <form class="report-form container-block">
      <div class="row">
        <div class="large-8 large-centered columns">
          <h1>รายงานสุขภาพ</h1>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">
          <p>วันนี้คุณรู้สึกไม่สบายหรือเปล่าจ๊ะ ?</p>
          <input type="radio" name="isFine" ng-model="isFine" value="1" id="isFineTrue">
          <label for="isFineTrue">สบายดี</label>
          <input type="radio" name="isFine" ng-model="isFine" value="0" id="isFineFalse">
          <label for="isFineFalse">มีอาการ</label>
          <small class="error" ng-show="invalidIsFine" ng-cloak>กรุณาระบุข้อมูล</small>
        </div>
      </div>

      <div class="row" ng-show="!!isFine && isFine==false" ng-cloak>
        <div class="large-8 large-centered columns">
          <p>มีอาการอะไรจ๊ะ ?</p>
          <div class="row">
            <ul class="symptoms-list">
              <li class="symptoms-item" ng-repeat="(key, choice) in symptoms_choices">
                <img src="[[ choice.imageCurrent ]]" ng-click="toggleImage(choice)" />
              </li>
            </ul>
          </div>
          <small class="error" ng-show="invalidSymptoms" ng-cloak>กรุณาระบุข้อมูล</small>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns">
          <p>คุณได้มีการสัมผัสกับสัตว์หรือไม่ ?</p>
          <input type="radio" name="animalContact" ng-model="animalContact" value="1" id="animalContactTrue"><label for="animalContactTrue">ใช่</label>
          <input type="radio" name="animalContact" ng-model="animalContact" value="0" id="animalContactFalse"><label for="animalContactFalse">ไม่ใช่</label>
          <small class="error" ng-show="invalidAnimalContact" ng-cloak>กรุณาระบุข้อมูล</small>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns">
          <label>รายละเอียดเพิ่มเติม
            <textarea name="moreInfo" ng-model="moreInfo" class="txt-moreinfo"></textarea>
          </label>
        </div>
      </div>

      <div ng-show="shared.loggedIn === false" ng-cloak>
        <div class="row">
          <div class="large-8 large-centered columns">
           <hr/>
            <h2>ข้อมูลส่วนตัวแบบนิรนาม</h2>
          </div>
        </div>

        <div class="row">
          <div class="large-8 large-centered columns">
            <div class="row">
              <div class="large-3 columns">
                <label class="right-label inline">เพศ</label>
              </div>
              <div class="large-9 columns">
                <input type="radio" ng-model="gender" value="male" id="edit-male"><label for="edit-male">ชาย</label>
                <input type="radio" ng-model="gender" value="female" id="edit-female"><label for="edit-female">หญิง</label>
                <small class="error" ng-show="invalidGender" ng-cloak>กรุณาเลือกเพศของคุณ</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-8 large-centered columns">
            <div class="row">
              <div class="large-3 columns">
                <label class="right-label inline">ปีเกิด (พ.ศ.)</label>
              </div>
              <div class="large-9 columns">
                <select ng-model="year" ng-options="k as v for (k, v) in yearOptions" class="no-margin"></select>
                <small class="error" ng-show="invalidYear" ng-cloak>กรุณาเลือกปีเกิด</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-8 large-centered columns">
            <div class="row">
              <div class="large-3 columns">
                <label class="right-label inline">จังหวัด</label>
              </div>
              <div class="large-9 columns">
                <select id="city" name="city" ng-model="city" class="no-margin" ng-cloak>
                  <option ng-repeat="city in cityOptions" value="[[ city.key ]]">[[ city.value ]]</option>
                </select>
                <small class="error" ng-show="invalidCity" ng-cloak>กรุณาเลือกจังหวัด</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-8 large-centered columns">
            <div class="row">
              <div class="large-3 small-3 columns">
                <label class="right-label inline">อำเภอ</label>
              </div>
              <div class="large-9 small-9 columns">
                <select id="district" name="district" ng-model="district" class="no-margin" ng-cloak>
                  <option ng-repeat="districtChoice in districts" value="[[ districtChoice.key ]]" ng-selected="district == districtChoice.key">[[ districtChoice.value ]]</option>
                </select>
                <small class="error" ng-show="invalidDistrict" ng-cloak>กรุณาเลือกอำเภอ</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-8 large-centered columns">
            <div class="row">
              <div class="large-3 small-3 columns">
                <label class="right-label inline">ตำบล</label>
              </div>
              <div class="large-9 small-9 columns">
                <select id="subdistrict" name="subdistrict" ng-model="subdistrict" class="no-margin" ng-cloak>
                  <option ng-repeat="subdistrictChoice in subdistricts" value="[[ subdistrictChoice.key ]]" ng-selected="subdistrict == subdistrictChoice.key">[[ subdistrictChoice.value ]]</option>
                </select>
                <small class="error" ng-show="invalidSubdistrict" ng-cloak>กรุณาเลือกตำบล</small>
              </div>
            </div>
          </div>
        </div>

      </div>
        
      <div class="row">
        <div class="large-8 large-offset-2 columns">
          <a href="#" ng-click="submit()" class="button ss-button expand">บันทึก</a>
        </div>
      </div>
    </form>
  </div>

  <div class="large-12 columns" ng-show="reportSuccess" ng-cloak>
    <div class="panel radius reportSuccess container-block">
        <h2 class="text-center">ขอบคุณสำหรับการรายงานสุขภาพ</h2>
        <h3 class="text-center">คุณ[[ symptoms_summary ]]</h3>
        <p class="text-center">ข้อมูลของคุณได้มีส่วนร่วมในการแสดงสถานการณ์สุขภาพในประเทศไทย</p>
        <div class="text-center"><a class="button ss-button" href="/">ดูสถานการณ์สุขภาพ</a></div>
    </div>
  </div>
</div>

{{#content "js_footer"}}
<script src="/js/locations.js"></script>
<script src="/js/app-report.js"></script>
{{/content}}
