<div class="row" ng-controller="RequestVerifyController">

  <div class="large-8 columns large-centered" ng-show="success" ng-cloak>
    <div class="panel radius container-block">
        <h2 class="text-center">ขอลิงก์เพื่อการยืนยันอีเมลของคุณ</h2>
        <div class="text-center">
          <p>ได้ทำการส่งลิงก์ไปที่อีเมลที่คุณกรอกไว้เรียบร้อยแล้ว</p>
          <a ng-show="isiOS" class="button ss-button radius" href="sicksense://finish-action" ng-cloak>เข้าใช้งานแอบพลิเคชั่นหมอชาวบ้าน</a>
        </div>
    </div>
  </div>

  <div class="large-12 columns" ng-hide="submitting && success" ng-cloak>
    <form name="requestVerifyForm" novalidate class="register-form" ng-submit="submit()">
      <div class="row">
        <div class="large-8 large-centered columns">
          <h1>ขอลิงก์เพื่อการยืนยันอีเมลของคุณ</h1>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">

          <div data-alert class="alert-box alert radius" ng-show="error" ng-cloak>
            เกิดข้อผิดพลาด กรุณาลองใหม่อีกครั้ง
          </div>

          <div data-alert class="alert-box success radius" ng-show="success" ng-cloak>
            ได้ทำการส่งลิงก์ไปที่อีเมลที่คุณกรอกไว้เรียบร้อยแล้ว
          </div>

          <div data-alert class="alert-box success radius" ng-show="alreadyVerified" ng-cloak>
            คุณได้ทำการยืนยันอีเมลแล้ว คุณสามารถทำการ <a href="/login.html">เข้าสู่ระบบ</a> ได้ทันที
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">อีเมล</label>
            </div>
            <div class="large-9 columns">
              <input type="email" name="email" required ng-model="email" placeholder="mayom@sicksense.org" class="no-margin" />
              <small class="error" ng-show="invalidEmail" ng-cloak>กรุณากรอกอีเมลให้ถูกต้อง</small>
              <small class="error" ng-show="invalidUser" ng-cloak>ไม่พบอีเมลในระบบ</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">
          <input type="submit" class="button ss-button ss-button-full-width radius" ng-class="{disabled:submitting}" value="ส่งลิงก์" ng-hide="success" ng-cloak />
          <input type="submit" class="button ss-button ss-button-full-width radius" ng-class="{disabled:submitting}" value="ฉันไม่ได้รับอีเมล ส่งลิงก์อีกครั้ง" ng-show="success" ng-cloak />
        </div>
      </div>
    </form>
  </div>
</div>

{{#content "js_footer"}}
<script src="/bower_components/jquery.browser/dist/jquery.browser.min.js"></script>
<script src="/js/app-request-verify.js"></script>
{{/content}}
