<div class="row" ng-controller="RequestVerifyController">
  <div class="large-12 columns">
    <form class="register-form" ng-submit="submit()">
      <div class="row">
        <div class="large-8 large-centered columns">
          <h1>ขอลิ้งก์เพื่อการยืนยันอีเมลของคุณ</h1>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">

          <div data-alert class="alert-box alert radius" ng-show="error">
            เกิดข้อผิดพลาด กรุณาลองใหม่อีกครั้ง
          </div>

          <div data-alert class="alert-box success radius" ng-show="success">
            ได้ทำการส่งลิ้งก์ไปที่อีเมลที่คุณกรอกไว้เรียบร้อยแล้ว
          </div>

          <div data-alert class="alert-box success radius" ng-show="alreadyVerified">
            คุณได้ทำการยืนยันอีเมลแล้ว คุณสามารถทำการ <a href="/login.html">เข้าสู่ระบบ</a> ได้ทันที
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">อีเมล</label>
            </div>
            <div class="large-9 columns">
              <input type="text" ng-model="email" placeholder="mayom@sicksense.org" class="no-margin" />
              <small class="error" ng-show="invalidEmail">รูปแบบอีเมลไม่ถูกต้อง</small>
              <small class="error" ng-show="invalidUser">ไม่พบอีเมลนี้ในระบบ</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-centered columns">
          <input type="submit" class="button ss-button ss-button-full-width radius" ng-class="{disabled:submitting}" value="ส่งลิ้งก์" ng-hide="success" />
          <input type="submit" class="button ss-button ss-button-full-width radius" ng-class="{disabled:submitting}" value="ฉันไม่ได้รับอีเมล ส่งลิ้งก์อีกครั้ง" ng-show="success" />
        </div>
      </div>
    </form>
  </div>
</div>

{{#content "js_footer"}}
<script src="/js/app-request-verify.js"></script>
{{/content}}
