<div class="row" ng-controller="ResetPasswordController">
  <div ng-init="initial()"></div>

  <div class="large-12 columns">
    <form class="reset-password-form" ng-submit="submit()">
      <div class="row">
        <div class="large-6 large-centered columns">
          <h1>ตั้งค่ารหัสผ่านใหม่</h1>
        </div>
      </div>

      <div class="row">
            <div class="large-6 large-centered columns">
                <!-- ALERT COMPLETED -->
                <div data-alert class=" alert-box success radius" ng-show="submitStatus == 'completed'" ng-cloak>
                  เปลี่ยนรหัสผ่านเรียบร้อยแล้ว กรุณา<a href="login.html">เข้าสู่ระบบ</a>
                </div>

                <!-- ALERT FAILED -->
                <div data-alert class=" alert-box alert radius" ng-show="submitStatus == 'failed'" ng-cloak>
                  เกิดข้อผิดพลาด กรุณาลองใหม่อีกครั้ง
                </div>
            </div>
      </div>

      <div class="row">
        <div class="large-6 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">รหัสผ่าน</label>
            </div>
            <div class="large-9 columns">
              <input type="password" ng-model="password" placeholder="********" class="no-margin"/>
              <small class="error" ng-show="invalidPassword" ng-cloak>รหัสผ่านต้องไม่น้อยกว่า 8 ตัวอักษร และไม่มากกว่า 64 ตัวอักษร</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 large-centered columns">
          <div class="row">
            <div class="large-3 columns">
              <label class="right-label inline">ยืนยันรหัสผ่าน</label>
            </div>
            <div class="large-9 columns">
              <input type="password" ng-model="repassword" placeholder="********" class="no-margin"/>
              <small class="error" ng-show="invalidSamePassword" ng-cloak>รหัสผ่านไม่ตรงกัน</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 large-centered columns">
          <input type="submit" class="button ss-button ss-button-full-width" value="ยืนยัน" />
        </div>
      </div>
    </form>
  </div>
</div>


{{#content "js_footer"}}
<script src="/js/app-reset-password.js"></script>
{{/content}}
