---
layout: false
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Sicksense - เครือข่ายอาสาสมัครดิจิทัลเพื่อการติดตามโรคระบาดอุบัติใหม่แบบมีส่วนร่วม">
  <title>Sicksense - Digital Disease Detection</title>
  <link rel="stylesheet" href="/css/v1/app.css" />

</head>
<body ng-app="sicksense">
  <div class="top-nav-bar contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/" class="logo">SickSense</a></h1>
        </li>
      </ul>
    </nav>
  </div>

  <div class="browser-support fadeIn animated">
    <div class="browser-row">
      <div class="large-12 columns">
		<h2 class="browser-support-title">คุณกำลังใช้เบราว์เซอร์ที่ไม่รองรับในการท่องเว็บไซต์นี้ กรุณาอัพเดทเบราว์เซอร์ของคุณ ตามลิงก์ด้านล่างนี้</h2>

		<div class="logo-browser">
			<a href="https://www.google.com/intl/en/chrome/browser/"><img src="images/logo/chrome-logo.png" alt="Google Chrome Logo" /></a>
		</div>
		<div class="logo-browser">
			<a href="https://www.mozilla.org/en-US/firefox/new/?utm_source=firefox-com&utm_medium=referral"><img src="images/logo/firefox-logo.png" alt="Firefox Lgo" /></a>
		</div>
		<div class="logo-browser">
			<a href="https://www.apple.com/safari/"><img src="images/logo/safari-logo.png" alt="Safari Logo" /></a>
		</div>
		<div class="logo-browser">
			<a href="http://www.opera.com/"><img src="images/logo/opera-logo.png" alt="Opera Logo" /></a>
		</div>
		<div class="logo-browser">
			<a href="https://www.google.co.th/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CBsQFjAA&url=http%3A%2F%2Fwindows.microsoft.com%2Fen-us%2Finternet-explorer%2Fie-9-worldwide-languages&ei=8lnkU4fJKIaC8gXArICQAg&usg=AFQjCNHHMiUkJQQE8G61M7rSlwnlxCvRyg&sig2=UhN14LF6_Qgmq4HE1P93vA"><img src="images/logo/ie-logo.png" alt="IE Logo" /></a>
		</div>

      </div> <!--col-->
    </div> <!--row-->
  </div> <!--filter-->

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53305152-1', 'auto');
  ga('send', 'pageview');
  </script>

</body>
</html>
