<div class="row page-report" ng-controller="VerifyController">

  <div class="large-12 columns" ng-show="verifySuccess">
    <div class="panel radius container-block">
        <h2 class="text-center">อีเมลของคุณได้รับการยืนยันแล้ว</h2>
        <div class="text-center">
          <p>เข้าสู่ระบบเรียบร้อยแล้ว</p>
          <p><a class="button ss-button" href="/">กลับหน้าแรก</a></p>
        </div>
    </div>
  </div>

  <div class="large-12 columns" ng-show="verifyFail">
    <div class="panel radius container-block">
        <h2 class="text-center">เกิดข้อผิดพลาดในการยืนยันอีเมล</h2>

        <div class="row"><div class="large-6 columns push-3">
          <p>กรุณาลองใหม่อีกครั้ง</p>
          <ul>
            <li>ตรวจสอบว่าลิ้งก์ที่คุณคลิกมานั้นถูกต้อง</li>
            <li>ทำการ refresh หน้าใหม่อีกครั้ง</li>
            <li>ลอง <a href="/request-verify.html">ขอลิ้งก์ยืนยันอีเมล</a></li>
          </ul>
        </div></div>
    </div>
  </div>

</div>

{{#content "js_footer"}}
<script src="/js/app-verify.js"></script>
{{/content}}
